kubeconfig: ./kubeconfig

garden:
  clusterip: PICK_A_FREE_SERVICEIP # this e.g. service CIDR -> .20

dashboard:
  # Those are the login credentials for the Gardener dashboard
  email: admin@example.com
  password: SOME_SUPER_STRONG_PASSWORD

cluster:
  networks:
    # You have to manually figure out what the GKE cluster network CIDRs are.
    # Pod CIDR is the only one you can directly derive from your cluster details.
    # Unfortunatelly the Pod CIDR in the cloud console also includes the Service
    # CIDR range.
    nodes: 10.132.0.0/16     # use kubectl get svc to figure this out
    pods: 10.40.0.0/16       # the /14 range is to large, you need to pick /16 here
    services: 10.43.240.0/20 # use kubectl get nodes -o wide to get this information

iaas:
  region: europe-west1
  zones:
    - europe-west1-b
    - europe-west1-d
    - europe-west1-c
  creds:
    serviceaccount.json: |
      {
        ...
      }

dns:
  type: google-clouddns
  domain: BASEDOMAIN
  hostedZoneID: HOSTED_ZONE_ID
  credentials:
    serviceaccount.json: |
      {
       ...
      }
