kubeconfig: ./kubeconfig

garden:
  clusterip: PICK_A_FREE_SERVICEIP

dashboard:
  # Those are the login credentials for the Gardener dashboard
  email: admin@example.com
  password: SOME_SUPER_STRONG_PASSWORD

cluster:
  networks:
    nodes: 10.132.0.0/16
    pods: 10.40.0.0/14
    services: 10.43.240.0/20

iaas:
  region: europe-west1
  zones:
    - europe-west1-b
    - europe-west1-d
    - europe-west1-c
  creds:
    serviceaccount.json: |
      {
        ...
      }

dns:
  type: google-clouddns
  domain: BASEDOMAIN
  hostedZoneID: HOSTED_ZONE_ID
  credentials:
    serviceaccount.json: |
      {
       ...
      }
