apiVersion: v1
kind: Secret
metadata:
  name: virtual-garden-kube-apiserver-basic-auth
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  basic_auth.csv: {{ printf "%s,admin,admin,system:masters" .Values.tls.kubeAPIServer.basicAuthPassword | b64enc }}
