apiVersion: v1
kind: Secret
metadata:
  name: virtual-garden-service-account-key
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  service_account.key: {{ .Values.tls.serviceAccountKey | b64enc }}
